admitad==1.1.1
aiofiles==0.8.0
aiogrpc==1.8
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
ansicon==1.89.0
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
args==0.1.0
asttokens==2.0.5
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
Automat==20.2.0
autopep8==1.6.0
av==9.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
boto3==1.24.2
botocore==1.27.2
bpyutils==0.5.2
bs4==0.0.1
build==0.8.0
cachetools==5.2.0
cairocffi==1.3.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
clint==0.5.1
colorama==0.4.4
colored==1.4.3
comtypes==1.1.11
console==0.9907
constantly==15.1.0
cprint==1.2.2
cryptography==37.0.2
cssselect==1.1.0
cssselect2==0.6.0
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
ezenv==0.92
fake-useragent==0.1.11
fastjsonschema==2.15.3
filelock==3.7.0
Flask==2.1.2
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
flo==1.0.0
freetype-py==2.3.0
frozenlist==1.3.0
future==0.18.2
gizeh==0.1.11
google-api-core==2.8.1
google-api-python-client==2.50.0
google-auth==2.7.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.2
greenlet==1.1.2
grpcio==1.46.3
gTTS==2.2.4
hsluv==5.0.3
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
imageio==2.19.2
imageio-ffmpeg==0.4.7
images2gif==1.0.1
importlib-metadata==4.11.4
incremental==21.3.0
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itemadapter==0.6.0
itemloaders==1.0.4
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jinxed==1.2.0
jmespath==1.0.0
jsonschema==4.6.0
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
litereval==0.0.11
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mavsdk==1.3.0
mistune==0.8.4
moviepy==1.0.3
multidict==6.0.2
multithread==1.0.1
multithreading==0.2.0
natsort==8.1.0
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.2
notebook==6.4.11
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python==4.5.5.64
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
pandas-addons==0.1.0
pandocfilters==1.5.0
parse==1.19.0
parsel==1.6.0
parso==0.8.3
pefile==2021.9.3
pep517==0.12.0
pickleshare==0.7.5
Pillow==9.1.1
pip-review==1.1.1
pipreqs==0.4.11
pipupgrade==1.12.0
platformdirs==2.5.2
playsound==1.2.2
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.29
Protego==0.2.1
protobuf==3.20.1
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
PyDispatcher==2.0.5
PyDrive==1.3.1
pydub==0.25.1
pyee==8.2.2
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
pypiwin32==223
pyppdf==0.1.2
pyppeteer==1.0.2
PyQt6==6.3.0
PyQt6-Qt6==6.3.0
PyQt6-sip==13.3.1
pyquery==1.4.3
pyrsistent==0.18.1
PySimpleGUI==4.60.1
python-aliexpress-api==2.1.1
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.1
PyWavelets==1.3.0
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==6.0
pyzmq==23.0.0
qrcode==7.3.1
queuelib==1.6.2
reportlab==3.6.10
requests==2.27.1
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
scikit-image==0.19.2
scipy==1.8.1
Scrapy==2.6.1
SDK==1.0.0
Send2Trash==1.8.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.37
stack-data==0.2.0
svglib==1.3.0
termcolor==1.1.0
terminado==0.15.0
test-helper==0.2
tifffile==2022.5.4
tinycss2==1.1.1
tldextract==3.3.0
toml==0.10.2
tomli==2.0.1
topsdk==20.4.21.40
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
Twisted==22.4.0
twisted-iocpsupport==1.0.2
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
urlopen==1.0.0
Vapory==0.1.2
virtualenv==20.14.1
vispy==0.10.0
voxtalkz==1.2.9
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.1.2
wget==3.2
widgetsnbextension==3.6.0
XlsxWriter==3.0.3
yarg==0.1.9
yarl==1.7.2
zipp==3.8.0
zope.interface==5.4.0
